body{
    display:flex;
    align-items:center;
    flex-direction:column ;
    font-family: 'Arial', "DFKai-sb", sans-serif;
    background-image:
            radial-gradient(circle at center, rgb(219, 49, 224) , transparent 60%),
            radial-gradient(circle at left, rgb(54, 160, 231), transparent 50%), 
            radial-gradient(circle at left top, rgb(224, 159, 84) , transparent 80%),
            radial-gradient(circle at right bottom, rgb(11, 127, 221), transparent 70%),  
            radial-gradient(circle at right, rgb(141, 216, 72) , transparent 75%);
}
.box{
    width:1000px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    box-shadow:inset 5px 5px 12px gold , 5px 5px 12px gold ;
}
.calendar1{
    width:auto;
    padding:10px;
}
table{
    width:630px;  
    height:480px;
    text-align:center;
    border-collapse:collapse;
}
table td{
    border:3px solid #000;
    padding:5px;
    text-align:center;
    background:rgb(215, 236, 100);
}
td:nth-child(1){
    color:red;
}
td:nth-child(7){
    color:red;
}
.Llast{
    display:flex;
    padding:10px;
}
.last{
    margin:2px;
    padding:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    border:5px solid lightgreen;
    font-size:25px;
    text-align:center;
    width:150px;
    height:40px;
    background:rgb(32, 209, 47);
    border-radius: 15px;
}
.col1{
    background:rgb(45, 76, 216);
    color:#fff !important;
    font-size:2rem ;
}
.col2{
    background:rgb(100, 175, 236);
    color:#fff;
    font-size:2rem;
}